<div class="d-flex">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->

  <!-- <app-gifs-page class="container"></app-gifs-page> -->
  <div class="container">
    <div class="row p-3">

      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>

    </div>

    <hr/>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus nostrum, possimus incidunt, fuga illum dolorem vel temporibus perspiciatis voluptatibus accusamus similique magnam voluptas libero at iusto recusandae amet aspernatur repudiandae!
      </div>
    </div>

  </div>

</div>
